/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

/* Chatbot Container Styles */
.chatbot-container {
    margin-top: 10px;
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

/* Chatbot Heading Styles */
.chatbot-heading {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Chatbot Form Styles */
.chatbot-form {
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: center; /* Align items vertically in the center */
    margin-top: 10px;
}

#user_input {
    flex: 1; /* Take remaining space */
    padding: 10px;
    margin-right: 10px; /* Add some spacing between input and button */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatbot-button,
.voice_input_button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.chatbot-button{
    padding: 10px;
}

.voice_input_button{
    margin-left: 2px;
    padding: 14px;
}



.chatbot-button:hover,
.voice_input_button:hover {
    background-color: #45a049;
}

/* Chat Styles */
.chat {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-color: #3498db #f1f1f1;
}

.chat::-webkit-scrollbar {
    width: 8px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #3498db;
}

.chat::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* User and Bot Message Styles */
.user-message,
.bot-message {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.user-message {
    background-color: #3498db;
    color: white;
}

.bot-message {
    background-color: #f1f1f1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.ask-button{
    display: none;
}